.app {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.locationNameHeader {
  font-size: 1.3em;
  padding: 20px;
}

.marginBottom15 {
  margin-bottom: 15px;
}

.darkness{
  background-color: #222;
  color: white;
}

.link{
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}